.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.MuiFab-primary{
  background-color: green !important;
}

a{
  color: inherit;
}

.pc{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.pcText{
  font-size: 30px;
  text-align : center;
  width: 50%;
}

.pcIcon{
  font-size: 180px !important;
  margin-bottom: 30px;
}

.MuiPaper-elevation1{
  /* box-shadow: none !important; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
